<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/img/favicon.ico">
    <script src="/js/index.js" defer ></script>
    <title>CNPS</title>
</head>
<body>
    <%-include('./components/src.ejs')%> <!-- /#src -->
    <div id="res">
        <div id="hello-window" class="paragraph">
            <h1 class="con-title"> CNPS: 카노푸스</h1>
            <hr class="con-line">
            <p class="con-content">
                만나서 반갑습니다. 저는 통계기반배송도착시간예측서비스 카노푸스입니다. <br> 운송장번호와 택배사를 입력 후, "검색"을 클릭해주세요.
            </p>
        </div>
        <p class="paragraph"> 
        </p>
        <%-include('./components/finish.ejs')%>
    </div> <!-- /#res -->
</body>
</html>