<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/api.css">
    <link rel="icon" href="/img/favicon.ico">
    
    <script src="/js/api.js" defer></script>
    <title>CNPS</title>
</head>
<body>
    <%-include('../components/src.ejs')%> <!-- /#src -->
    <div id="res">
        <p class="paragraph">
            <h1 class="con-title"> api document </h1>
            <hr class="con-line">
            <div class="api-button" id="api-doc">get api instruction document</div>
        </p>
        <p class="paragraph">
            <h1 class="con-title"> inquiry </h1>
            <hr class="con-line">
            <div class="api-button" id="src-spec">Inquiry the invoice and get raw query as json</div>
            <div class="api-button" id="src-asmsg">Inquiry the invoice and get message as json</div>
        </p>
        <p class="paragraph">
            <h1 class="con-title"> logging </h1>
            <hr class="con-line">
            <div id="api-log-wrap">
                <input type="number" id="api-log-start" style="margin-right: 5px;" placeholder="start apart from">
                <input type="number" id="api-log-num" placeholder="inquiry N days">
            </div>
            <div class="api-button" id="log-today">get log about today</div>
            <div class="api-button" id="log-show"></div>
            <div class="api-button" id="log-down"></div>
        </p>
    </div>
</body>
</html>