<div id="finish" class="paragraph" style="width:50vw">
    <hr class="con-line">
    <div class="con-content">
        <a href="/"><img src="/img/CNPS-black.jpg" id="foot-image"></a>
        <p class="con-content" style="font-size:0.8em;">
            Canopus, statistics-based delivery survice. <br>
            Made by Dongtanjoongang high school Kang Sh-u.<br>
            E-mail tomskang@naver.com
        </p>
    </div>
</div>